:root {
	--spaceVertical: 50px;
    --spaceHorizontal: 30px
	/* --text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; */
}

body {
    background-color: black;
}

.site-header {
    color: white;
    float: left;
    margin-right: 28px;
    display: 'flex';
}

.site-header img {
    height: 50px;
    margin-right: 16px;
}

.site-header span {
    font-size: 20px;
    font-weight: 700;
    vertical-align: top;
    
}

/* .container-main { */

    /* display: flex; */
    /* height: calc(100vh - 64px); */
    /* width: calc(100vw); */

    /* height: calc(100vh - 64px); */
    /* Max-width: calc(99vw); */
    /* background-color: rgb(255, 255, 255); */
    /* position: relative; */
/* } */

.index-style {
    display: flex;
    height: calc(100vh - 64px);
    color: white;
    text-align: center;
    Max-width: calc(99vw);
    position: relative;    
}
.index-style h1 {
    color: white;
    font-weight: 650;
    font-size: 43px;
    /* text-indent: 1cm; */
    word-spacing: .7cm;
    /* letter-spacing: 1cm; */
}

.api-style {
    /* display: flex; */
    /* align-items: center; */
    height: calc(100vh - 64px - var(--spaceVertical) - 10px );
    margin: var(--spaceHorizontal) var(--spaceVertical);
    /* text-align: center; */
    Max-width: calc(99vw);
    /* position: relative;     */
}

.api-style h1 {
    font-weight: 650;
    font-size: 43px;
    /* word-spacing: .7cm; */
    text-align: center;
    letter-spacing: 5px;
    /* text-decoration: underline rgb(105, 105, 105) solid ; */

    border-bottom: 3px solid #ffffff;
    padding-bottom: calc( var(--spaceVertical) - 10px);
    margin-bottom: calc( var(--spaceVertical) );
}