body {
    background-color: black;
}

.site-header {
    color: white;
    float: left;
    margin-right: 28px;
    display: 'flex';
}

.site-header img {
    height: 50px;
    margin-right: 16px;
}

.site-header span {
    font-size: 20px;
    font-weight: 700;
    vertical-align: top;
    
}

/* .container-main { */

    /* display: flex; */
    /* height: calc(100vh - 64px); */
    /* width: calc(100vw); */

    /* height: calc(100vh - 64px); */
    /* Max-width: calc(99vw); */
    /* background-color: rgb(255, 255, 255); */
    /* position: relative; */
/* } */

.index-style {
    display: flex;
    height: calc(100vh - 64px);
    color: white;
    text-align: center;
    Max-width: calc(99vw);
    position: relative;    
}
.index-style h1 {
    color: white;
    font-weight: 650;
    font-size: 43px;
    /* text-indent: 1cm; */
    word-spacing: .7cm;
    /* letter-spacing: 1cm; */
}
